<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation"><a href="/user/project/search">Search</a></li>
			<li role="presentation"><a href="/user/project/form">Add Project</a></li>
			<li role="presentation"><a href="/user/project/all">All Projects</a></li>
		</ul>
	</nav>
</div>
<hr>

{{#if user.id}}
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-info">
				<div class="panel-heading">Projects</div>
				<div class="panel-body">
					<lu>
						{{#each user.projects}}
							<li role="presentation"><a href="/user/project/open/{{this.id}}">{{this.subject}}</a></li>
						{{/each}}
					</lu>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-info">
				<div class="panel-heading">Proposals</div>
				<div class="panel-body">
					<lu>
						{{#each user.proposals}}
							<li role="presentation">
								<a href="/user/project/open/{{this.ProjectId}}">
									{{this.subject}}
									<p>{{this.body}}</p>
									<p>Agree: {{this.agree}} | Disagree:{{this.disagree}}</p>
									<hr>
								</a>
							</li>
						{{/each}}
					</lu>
				</div>
			</div>
		</div>
	</div>
{{/if}}
