<h1>{{title}}</h1>
<hr>
<h1>{{body}}</h1>
<hr>
<ul class="people_list">
	{{#each projectsList}}
		<li>{{this.id}}</li>
		<li>{{this.project_subject}}</li>
		<li>{{this.project_description}}</li>
		<li>{{this.project_status}}</li>
		<hr>
	{{/each}}
</ul>

<script src="/assets/js/profile.js"></script>